@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

body {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: hsl(210, 60%, 98%);
  overflow: visible;
  padding: 100px 0;
}

main {
  width: 70%;
  height: auto;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.header {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.header div {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}

.a {
  font-weight: 800;
  font-size: 30px;
  color: hsl(224, 21%, 14%);
}

.b {
  width: 50%;
  font-size: 20px;
  margin-left: 13px;
  font-weight: 800;
  color: white;
  padding: 5px 20px;
  text-align: center;
  border-radius: 10px;
  background: hsl(219, 85%, 26%);
}

.c {
  font-size: 22px;
  color: hsl(219, 14%, 63%);
  font-weight: 800;
}

.c:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.one {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(210, 60%, 98%);
  border-radius: 15px;
  padding: 10px 0;
  margin: 5px 0;
}

.one div {
  width: 80%;
  margin-left: 10px;
  height: auto;
}

.d {
  font-size: 21px;
  font-weight: 800;
  color: hsl(219, 14%, 63%);
}

.e {
  font-size: 18px;
  font-weight: 800;
  color: hsl(219, 14%, 63%);
}

.f {
  font-size: 22px;
  font-weight: 800;
  color: hsl(224, 21%, 14%);
}

.g {
  color: hsl(219, 14%, 53%);
  font-size: 22px;
  font-weight: 800;
}

.g:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.h {
  color: hsl(219, 85%, 26%);
}

.mid {
  background: none;
}

.j {
  position: absolute;
  right: 5px;
}

.two {
  width: 70%;
  height: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: 1px solid hsl(219, 14%, 53%);
  border-radius: 10px;
  padding: 15px;
  font-size: 22px;
  margin-right: 50px;
  align-self: flex-end;
  margin-bottom: 5px;
  color: hsl(219, 14%, 43%);
  font-weight: 800;
}

.two:hover {
  background: hsl(205, 33%, 90%);
  border: none;
}

.one img {
  width: 8%;
  aspect-ratio: 1/1;
  margin-right: 20px;
}
